* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(211, 183, 233);
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.userCard {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  margin: 50px 10px 0 10px;
  padding-top: 10px;
  text-align: center;

  max-width: 320px;
  width: 100%;
  min-width: 300px;

  border-radius: 5px;
  font-family: "Roboto", sans-serif;

  background-color: whitesmoke;
}

.mainInfo {
  position: relative;
}

.userPhoto {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid rgba(128, 128, 128, 0.308);

  background-position: center;
  object-fit: cover;
  object-position: center;
  overflow: hidden;

  transition-duration: 0.5s;
  transition-timing-function: linear;
}

.img {
  width: 110px;
  height: 110px;
  position: relative;
}

.userCountryImg {
  width: 25px;
  height: 25px;

  position: absolute;
  bottom: 5px;
  right: 5px;

  border-radius: 50%;
  border: 3px solid white;

  background-position: center;
  overflow: hidden;
  object-fit: cover;
}

.userName {
  margin-top: 10px;

  font-size: 1.2rem;
  font-weight: 500;
  color: orangered;
}

.userStatus {
  margin-top: 5px;
  font-size: 0.9rem;
  color: rgb(110, 110, 110);
}

.userAbout {
  margin-top: 20px;
  padding: 0 20px;

  font-size: 0.9rem;
  line-height: 25px;
}

.logo {
  margin-top: auto;
  margin-bottom: 15px;
  padding: 15px 0;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

svg {
  width: 24px;
  height: 24px;
  fill: rgb(255, 30, 0);
}
a {
  text-decoration: none;
}

svg:hover {
  fill: purple;
}

.userPhoto:hover {
  cursor: pointer;
  background-color: rgba(128, 0, 128, 0.712);
}
